/*
 Styles for indekusu.html
*/
body {
  text-align: center;
  color: #5C5D67;
  background-color: #D199B6;
  font-family: 'Balsamiq Sans', cursive;
  margin-right: 20%;
  margin-left: 20%;
}

div, .btn {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
button {
  border-radius: 1em;
}

.btn {
  width:20%;
  margin-left:40%;
}

.card {
  margin-left: 30%;
  margin-right: 30%
}