/*
 Styles for indekusu.html
*/
body {
  text-align: center;
  color: #5C5D67;
  background-color: #D199B6;
  font-family: 'Balsamiq Sans', cursive;
  margin-right: 20%;
  margin-left: 20%;
}

div {
  flex-direction: column;
}

div, .btn, button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  width: fit-content;
}

button {

  cursor: pointer;
}

.card {
  margin-left: 30%;
  margin-right: 30%
}

input {
  width: 200%;
  line-height: 24px;
}